
/* Colores */
/* Fondo pantalla */
.colorBG{
  background-color: #2b2233;
}
/* Contenedores */
.colorCont{
  background-color: #6b349294;
}
/* Cálculos */
.colorSpan{
  background-color: #2b50a7;
}
/* Inputs */
.colorInput{
  background-color: #ffffff;
}
/* Resaltar interior contenedores */
.colorNActive{
  background-color: #99699e ;
}
/* Resaltar ++ */
.colorHigh{
  background-color: #802497;
}
/* Letras */
.colorLetters{
  color: #D4AF37;
}


.characterSheet{
  font-size: 12px;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

.containerAbs{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.absTable{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.smallInput{
  justify-content: space-around;
  width: 15px;
  height: 15px;
  margin-left: 1px;
  margin-right: 1px;
}

.valueSpan{
  display: inline-flex;
  align-self: center;
  width: 18px;
  height: 18px;
  border: outset 0.5px #2b2233;
  justify-content: center;
}

.label{
  font-weight: bold;
}